@model NonProfitCRM.Models.Donation

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css"
      rel="stylesheet"
      type="text/css" />
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Donations</a></li>
                    <li class="breadcrumb-item active">Add New</li>
                </ol>
            </div>
            <h4 class="page-title">Add Donation</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<hr />
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create">
                    <div class="row">
                        <div class="col-lg-6">
                            <p>
                                <b> Search By  </b>@Html.RadioButton("SearchBy", "PhoneNumber")PhoneNumber
                                @Html.RadioButton("SearchBy", "Name")Name <br />
                                @Html.TextBox("Search") <input type="submit" value="Search" />





                                @* Removed for brevity *@

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Contact.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.Contact.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Contact.Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                @* Removed for brevity *@

                                @section Scripts {
                                    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            $('#Contacts_Name').autocomplete({
                                                source: '@Url.Action("getContacts","Donations")',
                                                select: function (event, ui)
                                                {
                                                    //set tagids to save
                                                    $("#ContactId").val(ui.item.id);

                                                    //Tags for display
                                                    this.value = ui.item.value;
                                                    return false;
                                                }
                                            });
                                        });
                                    </script>
                                }

                            </p>

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="OrgId" class="control-label"></label>
                                <select asp-for="OrgId" class="form-control" asp-items="ViewBag.OrgId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="EventId" class="control-label"></label>
                                <select asp-for="EventId" class="form-control" asp-items="ViewBag.EventId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="CampaignId" class="control-label"></label>
                                <select asp-for="CampaignId" class="form-control" asp-items="ViewBag.CampaignId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="ContactId" class="control-label"></label>
                                <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="GuestDonation" class="control-label"></label>
                                <input asp-for="GuestDonation" class="form-control" />
                                <span asp-validation-for="GuestDonation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="GuestEmail" class="control-label"></label>
                                <input asp-for="GuestEmail" class="form-control" />
                                <span asp-validation-for="GuestEmail" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="col-lg-6">
                            <div class="form-group">
                                <label asp-for="Amount" class="control-label"></label>
                                <input asp-for="Amount" class="form-control" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="RecurringDonation" class="control-label"></label>
                                <input asp-for="RecurringDonation" class="form-control" />
                                <span asp-validation-for="RecurringDonation" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Date" class="control-label"></label>
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="TransactionTypeId" class="control-label"></label>
                                <select asp-for="TransactionTypeId" class="form-control" asp-items="ViewBag.TransactionTypeId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="DonationTypeId" class="control-label"></label>
                                <select asp-for="DonationTypeId" class="form-control" asp-items="ViewBag.DonationTypeId"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>

                        </div>
                    </div>
                </form>
            </div>



        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>

</div>