@model IEnumerable<NonProfitCRM.Models.Donation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Contacts</a></li>
                    <li class="breadcrumb-item active">Add New</li>
                </ol>
            </div>
            <h4 class="page-title">Add Contact</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<h2>Index</h2>
<hr />
<p>
    <b>Search By</b>@Html.RadioButton("SearchBy", "Name")Name
                    @Html.RadioButton("SearchBy", "PhoneNumber")PhoneNumber<br/>
                    @Html.TextBox("Search") <input type="submit" value="Search" />

</p>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.GuestDonation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.GuestEmail)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RecurringDonation)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Campaign)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Contact)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DonationType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Event)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Org)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.TransactionType)
                            </th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GuestDonation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GuestEmail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecurringDonation)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Campaign.OrgId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contact.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DonationType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Event.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Org.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TransactionType.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>