@model NonProfitCRM.Models.Project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";

}
<script src="~/js/JavaScript.js"></script>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Projects</a></li>
                    <li class="breadcrumb-item active">Add New</li>
                </ol>
            </div>
            <h4 class="page-title">Add Project</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form asp-action="Create" id="myNewForm">
                    <div class="form-group row">
                        <div class="form-group" id="HiddenFeild" style="display:none">
                            <div class="">
                                <input class="form-control" asp-for="ContactId">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="Name">Name<span class="mandate" style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="text" id="NewName" asp-for="Name" required="required" placeholder="Enter the Name of Project">
                                    <span asp-validation-for="Name" id="ItsName" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="Contact.Name">Project Lead<span class="mandate" style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.EditorFor(model => model.Contact.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Contact.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @section Scripts
              {
                                <script type="text/javascript">
                  $(document).ready(function ()
                   {
                    $('#Contact_Name').autocomplete({
                       delay: 500,
                       minLength: 1,
                        source: '@Url.Action("Search","Project")',
                        select: function (event, ui)
                          {
                              $("#Contact_Name").val(ui.item.label);
                             this.value = ui.item.label;
                            $('#Contact_Name').show();

                            $("#ContactId").val(ui.item.id)


                               debugger
                               selectFunction(ui.item.id);
                          return false;

                        }
                    });
                }); function selectFunction(id) {
                            $.ajax({
                                type: "GET",
                                url: '@Url.Action("GetContactDetails","Project")/' + id,
                                data: {},
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {


                                    if (data) {

                                        $('#contactName').html(data.name);

                                    }
                                    else {
                                        alert("Somthing went wrong");
                                    }



                                    return data;
                                    //$("Contact_Name").hide(function () { $("div.success").fadeIn(); });
                                },
                                //error: function (XMLHttpRequest, textStatus, errorThrown) {
                                //    alert("Status: " + textStatus); alert("Error: " + errorThrown);
                                //}


                            });
                        };

                                </script>

                            }


                            <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right" asp-for="ProjectTypeId">Project Type<span class="mandate" style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    @Html.DropDownList("ProjectTypeId", (SelectList)ViewBag.ProjectTypeId, "Select", new { @class = "form-control" })
                                    <span asp-validation-for="ProjectTypeId" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                    <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="Status">Status<span class="mandate" style="color:red">*</span> </label>
                                    <div class="col-sm-8">
                                        <input class="form-control" type="text" asp-for="Status" />
                                        <span asp-validation-for="Status" id="FirstAddress" class="text-danger"></span>

                                    </div>
                                </div>
                            @*<div class="form-group row">
                                <div class="col-sm-8">
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="question" value="14" class="clickable" id="1" style="float: right;" />
                                        <label for="1" style="float:right;position:absolute;">
                                            <label class="form-check-label" for="exampleCheck1" asp-for="Status">Status</label>
                                        </label>
                                    </div>
                                </div>
                            </div>*@
                            <div class="form-group row">
                                <label for="example-number-input" class="col-sm-4 col-form-label text-right" asp-for="AllocatedFund">Estimated Budget<span class="mandate" style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="number" asp-for="AllocatedFund" required placeholder="Enter the Fund provided for Project">
                                    <span asp-validation-for="AllocatedFund" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="Description">Description</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control" asp-for="Description" rows="4" cols="45" placeholder="Description of Project"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="StartDate">Start Date<span class="mandate" style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="date" id="example-text-input" asp-for="StartDate" required placeholder="Enter the Start date of Project">
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                            </div>



                            <div class="form-group row">
                                <label for="example-text-input" class="col-sm-4 col-form-label text-right" asp-for="EndDate">Close Date<span class="mandate" style="color:red">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" type="date" asp-for="EndDate" placeholder="Enter the Closing date of Project">

                                    <span asp-validation-for="EndDate" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="form-group row">
                                <div class="col-sm-12 text-right">
                                    <input type="submit" value="Add" class="col-sm-3 btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div><!--end card-body-->
</div><!--end card-->
