@model IEnumerable<Core.Domain.Donation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<script src="~/js/jquery-ui.js"></script>
<link href="~/css/jquery-ui.theme.min.css" rel="stylesheet" />
<script src="~/js/jquery-ui.min.js"></script>

<script type="text/javascript">

    $(function () {
        $("#textSearch").autocomplete({
            source: '@Url.Action("GetDonations")'
        });
    });

</script>
<!--Contacts Index Page-->
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Donation</a></li>
                    <li class="breadcrumb-item active">View All</li>
                </ol>
            </div>

            @*<form role="search" class="">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href=""><i class="fas fa-search"></i></a>
                </form>*@


            <h2 class="page-title">Donation</h2>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

@*<li class="hide-phone app-search">
        <form role="search" class="">
            <input type="text" placeholder="Search..." class="form-control">
            <a href=""><i class="fas fa-search"></i></a>
        </form>
    </li>*@
<!-- end page title end breadcrumb -->
<p>
    @using (Html.BeginForm("Index1" , "Donation" , FormMethod.Get))
    {
        <b>Contact Name </b>
        @Html.TextBox("searchTerm", null, new { id = "textSearch" , style = "border-radius: 50px;border-color: teal;text-align: left;font-style: italic;padding:5px" })
        <input type="submit" value="Search" style="border-radius: 50px;border-color: teal;text-align: left;font-style: italic;padding:5px" />
    }

</p>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <a asp-action="Create" class="btn btn-primary px-4 btn-rounded float-right mt-0 mb-3">+ Add New</a>
                <h4 class="header-title mt-0">Donation Details</h4>
                <div class="table-responsive dash-social">
                    <table id="datatable" class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Email</th>
                                <th>Date</th>
                                <th>Recurring Donation</th>
                                <th>Donation Type Id</th>
                                <th>Action</th>
                                @*<th>Address2</th>
                                    <th>Street</th>
                                    <th>City</th>*@
                                @*<th>State</th>
                                    <th>Country</th>
                                    <th>ZipCode</th>*@

                            </tr><!--end tr-->
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>@Html.DisplayFor(modelItem => item.)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                    <td>@Html.DisplayFor(modelItem => item.GuestEmail)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.RecurringDonation)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DonationTypeId)</td>
                                    <td>
                                        <a asp-controller="Donation" asp-action="Edit" asp-route-Id=@item.Id class="mr-2"><i class="fas fa-edit text-info font-16"></i></a>
                                        <a onclick="Delete(@item.Id)"><i class="fas fa-trash-alt text-danger font-16" onclick="return confirm('Are you sure to delete the record')"></i></a>
                                    </td>
                                </tr><!--end tr-->
                            }
                        </tbody>
                    </table>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->

<script>

    function Delete(id) {
        $.ajax({
            url: "/Donation/Delete",
            type: 'Delete',
            data: { id },
            success: function (data) {
                window.location.href = window.location.origin + "/Donation/Index";
            }
        });
    }

</script>
