@model NonProfitCRM.Models.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<link href="~/plugins/dropify.min.css" rel="stylesheet" />
<link href="~/plugins/magnific-popup.css" rel="stylesheet" />
<script src="~/js/jquery.min.js"></script>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Events</a></li>
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>
            <h4 class="page-title">Details</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>
<!-- end page title end breadcrumb -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body  met-pro-bg">
                <div class="met-profile">
                    <div class="row">
                        <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                            <div class="met-profile-main">
                                <div class="met-profile-main-pic">
                                    <img src="@Model.ImagePath" alt="" class="rounded-circle">
                                    @*<span class="fro-profile_main-pic-change">
                                            <i class="fas fa-camera"></i>
                                        </span>*@
                                </div>
                                <div class="met-profile_user-detail">
                                    <h5 class="met-user-name" style="text-transform: capitalize;">@Model.Name</h5>
                                    <p class="mb-0 met-user-name-post"></p>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-4 ml-auto">
                            <ul class="list-unstyled personal-detail">
                                <li class=""><i class="dripicons-stack mr-2 text-info font-18"></i> <b> State </b> : @Html.DisplayFor(model => model.AddressState)</li>
                                <li class="mt-2"><i class="dripicons-direction text-info font-18 mt-2 mr-2"></i> <b> Address </b> : @Html.DisplayFor(model => model.AddressLine1)</li>
                                <li class="mt-2"><i class="dripicons-location text-info font-18 mt-2 mr-2"></i> <b>Location</b> : @Html.DisplayFor(model => model.AddressCity), @Html.DisplayFor(model => model.AddressCountry)</li>
                            </ul>
                            <div class="button-list btn-social-icon">
                                <button type="button" class="btn btn-blue btn-round">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-secondary btn-round ml-2">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-pink btn-round  ml-2">
                                    <i class="fab fa-instagram"></i>
                                </button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div><!--end f_profile-->
            </div><!--end card-body-->
            <div class="card-body">
                <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="general_detail_tab" data-toggle="pill" href="#general_detail">Details</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="portfolio_detail_tab" data-toggle="pill" href="#portfolio_detail">Gallery</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" id="settings_detail_tab" data-toggle="pill" href="#settings_detail">Settings</a>
                        </li>*@
                </ul>
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-12">
        <div class="tab-content detail-list" id="pills-tabContent">
            <div class="tab-pane fade show active" id="general_detail">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="text-transform: capitalize;"><b>Name :</b> @Html.DisplayFor(model => model.Name)</label>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-6"><b>Date :</b> @Html.DisplayFor(model => model.StartDate)</label>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="text-transform: capitalize;"><b>Country :</b>@Html.DisplayFor(model => model.AddressCountry)</label>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="text-transform: capitalize;"><b>State :</b>@Html.DisplayFor(model => model.AddressState)</label>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="text-transform: capitalize;"><b>City : </b>@Html.DisplayFor(model => model.AddressCity)</label>

                                        </div>





                                    </div>
                                    <div class="col-md-6">


                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="text-transform: capitalize;"><b>Street :</b> @Html.DisplayFor(model => model.AddressStreet)</label>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="text-transform: capitalize;"><b>AddressLine1 :</b> @Html.DisplayFor(model => model.AddressLine1)</label>

                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="text-transform: capitalize;"><b>AddressLine2 :</b> @Html.DisplayFor(model => model.AddressLine2)</label>

                                        </div>

                                        <div class="form-group">
                                            <label class="control-label col-md-6" style="text-transform: capitalize;"><b>ZipCode :</b>@Html.DisplayFor(model => model.AddressZipcode)</label>

                                        </div>

                                    </div>


                                    <!--/span-->
                                    <!--/span-->
                                </div>



                                @*<div class="col-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6 mx-auto">
                                                <div class="own-detail bg-blue">
                                                    <h1>15</h1>
                                                    <h5>Donations</h5>
                                                </div>
                                                <div class="own-detail own-detail-project bg-secondary">
                                                    <h1>8+</h1>
                                                    <h5>Years</h5>
                                                </div>
                                                <div class="own-detail own-detail-happy bg-success">
                                                    <h1>37</h1>
                                                    <h5>Events attended</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@

                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end general detail-->

            <div class="tab-pane fade" id="portfolio_detail">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active">Events</li>
                                        <li class="breadcrumb-item active">Gallery</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Gallery</h4>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->

                    <div class="row">
                        <div class="col-12">
                            <div class="card">

                                <div class="card-body">
                                    <input type="hidden" asp-for="Id" value="@Model.Id">
                                    <div class="row">

                                        @*<form id="upload_form" enctype="multipart/form-data" method="post">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <input type="file" name="fileUploader" id="fileUploader" class="btn btn-default" multiple>
                                                        </div>
                                                        <div class="col-md-4" style="text-align:right;">
                                                            <input type="button" id="btnUpload" style="display:none" class="btn btn-default" value="Upload File" onclick​="uploadFiles()">
                                                        </div>
                                                        <div class="col-sm-20 text-right">
                                                            <input type="submit" value="Add" class="col-sm-3 btn btn-primary" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div id="divFiles" class="files">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>*@

                                        <label for="example-text-input" class="col-sm-4 col-form-label text-right">Upload Images</label>
                                        <div class="col-sm-5">
                                            <form>
                                                <input multiple type="file" id="myfile" value="Upload File" class="form-control" name="PictureUrl" accept="image/*">
                                                <img id="output_image" />
                                                <div class="col-sm-20 text-right">
                                                    <input type="submit" value="Add" class="col-sm-4 btn btn-primary" />
                                                </div>
                                            </form>
                                        </div>

                                    </div><!-- End portfolio  -->
                                </div><!--end card-body-->
                            </div><!--end card-->

                            <div class="card">
                                <div class="card-body">
                                    <div class="row container-grid nf-col-3  projects-wrapper">
                                        @foreach (var image in Model.Pictures)
                                        {
                                            <div class="col-lg-4 col-md-6 p-0 nf-item branding design coffee spacing">
                                                <div class="item-box">
                                                    <a class="cbox-gallary1 mfp-image" href="@image" title="Consequat massa quis">
                                                        <img class="item-container " src="@image" alt="7" />
                                                        <div class="item-mask">
                                                            <div class="item-caption">
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div><!--end item-box-->
                                            </div><!--end col-->
                                        }
                                    </div><!--end row-->
                                </div><!--end card-body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->



                </div><!-- container -->
            </div><!--end portfolio detail-->

            <div class="tab-pane fade" id="settings_detail">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="card">
                            <div class="card-body">
                                <form method="post" class="card-box">
                                    <input type="hidden" id="ContactId" value=@Model.Id />
                                    <input type="file" id="profile-picture-input-file" class="dropify" />  @*data-default-file="~/images/user-4.jpg"*@
                                    <span class="input-icon icon-right">
                                        <textarea rows="4" class="form-control" placeholder="Post a new message"></textarea>
                                    </span>
                                    <div class="float-right my-3">
                                        <a class="btn btn-sm btn-primary text-light px-4 mb-0">Send</a>
                                    </div>
                                    <ul class="nav nav-pills profile-pills mt-1">
                                        <li>
                                            <a href="#"><i class=" fas fa-video font-18 mr-2 mt-2 text-primary"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="fas fa-camera  font-18 mx-2 mt-2 text-primary"></i></a>
                                        </li>
                                    </ul>
                                </form>

                                <div class="">
                                    <form class="form-horizontal form-material mb-0">
                                        <div class="form-group">
                                            <input type="text" placeholder="Full Name" class="form-control">
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <input type="email" placeholder="Email" class="form-control" name="example-email" id="example-email">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="password" placeholder="password" class="form-control">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="password" placeholder="Re-password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <input type="text" placeholder="Phone No" class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <select class="form-control">
                                                    <option>London</option>
                                                    <option>India</option>
                                                    <option>Usa</option>
                                                    <option>Canada</option>
                                                    <option>Thailand</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea rows="5" placeholder="Message" class="form-control"></textarea>

                                        </div>
                                    </form>
                                    <button class="btn btn-primary btn-sm text-light px-4 mt-3 float-right mb-0" id="updateProfileBtn">Update Profile</button>
                                </div>
                            </div>
                        </div>
                    </div> <!--end col-->
                </div><!--end row-->
            </div><!--end settings detail-->
        </div><!--end tab-content-->

    </div><!--end col-->
</div><!--end row-->
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@*progress Bar*@
@*<script>
        $(document).ready(function () {
       $('input[type=file]').change(function () {
         $('#btnUpload').show();
         $('#divFiles').html('');
         for (var i = 0; i < this.files.length; i++) { //Progress bar and status label's for each file genarate dynamically
              var fileId = i;
              $("#divFiles").append('<div class="col-md-12">' +
                      '<div class="progress-bar progress-bar-striped active" id="progressbar_' + fileId + '" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%"></div>' +
                      '</div>' +
                      '<div class="col-md-12">' +
                           '<div class="col-md-6">' +
                              '<input type="button" class="btn btn-danger" style="display:none;line-height:6px;height:25px" id="cancel_' + fileId + '" value="cancel">' +
                           '</div>' +
                           '<div class="col-md-6">' +
                              '<p class="progress-status" style="text-align: right;margin-right:-15px;font-weight:bold;color:saddlebrown" id="status_' + fileId + '"></p>' +
                           '</div>' +
                      '</div>' +
                      '<div class="col-md-12">' +
                           '<p id="notify_' + fileId + '" style="text-align: right;"></p>' +
                      '</div>');
                    }
                })
            });
    </script >*@
@*upload multiple files*@
<script>
    function uploadFilexssds() {
        var file = document.getElementById("fileUploader")//All files
        for (var i = 0; i < file.files.length; i++) {
            uploadSingleFile(file.files[i], i);
        }
    }

    function uploadSingleFile(file, i) {
        var fileId = i;
        var ajax = new XMLHttpRequest();
        //Progress Listener
        ajax.upload.addEventListener("progress", function (e) {
            var percent = (e.loaded / e.total) * 100;
            $("#status_" + fileId).text(Math.round(percent) + "% uploaded, please wait...");
            $('#progressbar_' + fileId).css("width", percent + "%")
            $("#notify_" + fileId).text("Uploaded " + (e.loaded / 1048576).toFixed(2) + " MB of " + (e.total / 1048576).toFixed(2) + " MB ");
        }, false);
        //Load Listener
        ajax.addEventListener("load", function (e) {
            $("#status_" + fileId).text(event.target.responseText);
            $('#progressbar_' + fileId).css("width", "100%")

            //Hide cancel button
            var _cancel = $('#cancel_' + fileId);
            _cancel.hide();
        }, false);
        //Error Listener
        ajax.addEventListener("error", function (e) {
            $("#status_" + fileId).text("Upload Failed");
        }, false);
        //Abort Listener
        ajax.addEventListener("abort", function (e) {
            $("#status_" + fileId).text("Upload Aborted");
        }, false);

        ajax.open("POST", "/api/upload/UploadFiles"); // Your API .net, php

        var uploaderForm = new FormData(); // Create new FormData
        uploaderForm.append("file", file); // append the next file for upload
        ajax.send(uploaderForm);

        //Cancel button
        var _cancel = $('#cancel_' + fileId);
        _cancel.show();

        _cancel.on('click', function () {
            ajax.abort();
        })
    }

</script>

<script>
    $(document).ready(function () {
        $('#myfile').change(function () {
            var myfile = document.getElementById("myfile");
            var formData = new FormData();
            formData.append('Id', $("#Id").val());
            if (myfile.files.length > 0) {
                for (var i = 0; i < myfile.files.length; i++) {
                    formData.append('Picture', myfile.files[i]);
                }
            }
            debugger
            //var data = {
            //    Files : formData,
            //    Id : $("#EventId").val()
            //};

            $.ajax({
                url: "/Events/Pictures/",
                type: "POST",
                dataType: "json",
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {

                },
                error: function (data) {

                }
            })
        })
    })
</script>
